.flex-column {
  display: flex-column;
  flex-direction: column;
  margin-top: 7vh;
}

.heading-div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.page-heading {
  font-size: 30px;
}

.no-results {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 7vh;
  font-size: 20px;
  height: 100vh;
  text-align: center;
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  .page-heading {
    font-size: 24px;
  }
}

@media screen and (min-width: 576px) and (max-width: 767px) {
  .page-heading {
    font-size: 20px;
  }
}

@media screen and (max-width: 575px) {
  .page-heading {
    font-size: 16px;
  }
  .no-results{
    font-size:15px;
  }
}
