.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 2vh;
  max-height: 7vh;
  width: 100vw;
  position: fixed;
  top: 0;
  background-color: #735da5;
  font-size: 24px;
  color: white;
}

.tab-list {
  display: flex;
  list-style-type: none;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 60vw;
  padding: 0px;
  margin: 0px;
}

.tab-button {
  background: transparent;
  border-width: 0px;
  font-size: 20px;
  color: white;
  font-weight: bold;
  text-decoration: none;
}

.search-div {
  width: 20vw;
  justify-content: space-around;
  display: flex;
  align-items: center;
}

.search-input {
  border: 0px solid transparent;
  border-radius: 8px;
  background-color: #d3c5e5;
  padding: 5px;
  font-weight: bold;
  max-width: 10vw;
}

.search-button {
  border: 2px white solid;
  border-radius: 8px;
  background-color: #d3c5e5;
  font-size: 16px;
  font-weight: bold;
  padding: 5px;
}

.website {
  font-size: 30px;
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  .tab-button {
    font-size: 16px;
  }
  .search-button {
    font-size: 14px;
  }
}

@media screen and (min-width: 576px) and (max-width: 767px) {
  .tab-button {
    font-size: 12px;
  }
  .search-button {
    font-size: 10px;
  }
  .website {
    font-size: 20px;
  }
}

@media screen and (max-width: 575px) {
  .tab-button {
    font-size: 10px;
  }
  .website {
    font-size: 14px;
  }
  .search-input {
    font-size: 8px;
  }
  .tab-list {
    width: 75vw;
  }
  .search-div {
    width: 25vw;
    align-items: center;
  }
  .search-button {
    font-size: 6px;
    margin: 0px;
  }
  .tab-button {
    padding: 0px;
  }
  .search-button-xs-sizing {
    padding-bottom: 10px;
  }
  .button-xs-sizing {
    padding-bottom: 10px;
  }
}
